<IfModule mod_rewrite.c>

  RewriteEngine on
    # Apply rewrite only to mydomain.com
    # Use [NC] for case-insensitive matching
    # RewriteCond %{HTTP_HOST} ^fxadmirals.com.ng$ [NC]
    # RewriteCond $1 !^(index\.php|images|robots\.txt)
    # RewriteRule ^(.*)$ /index.php/$1 [L]

  #RewriteBase fxadmiral/

	Rewritecond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>

	ErrorDocument 404 /index.php
</IfModule>
